{% extends 'MelnikHomeworkBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="starter-template">
            <h2>
                {% trans %}Hello{% endtrans %}
            </h2>
        </div>
    </div>
{% endblock %}